
.grid{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: #F7F4F3;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #208aae;
    box-shadow: 4px 6px 6px 6px #c2c2c2;
}

.grid h2{
    background-color: #208AAE;
    font-size: 1.5rem;
    text-align:  center;
    color: #F7F4F3;
    padding: 0.5rem;
    border-radius: 50px;
}

.buttonsWrapper {
    margin-top: 30px;
   
    display: flex;
    justify-content: center;
    text-align: center;

}

.progress-bar{
    background-color: #208AAE;
}

p#progress {
    color: #EDA4BD;
    font-size: 1rem;
}

.nextWrapper{
    text-align: center;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #EDA4BD;
    font-weight: bold;
    text-shadow: 1px 1px rgb(181, 196, 201);
    color: #F7F4F3;
    border: none;
}

.btn.btn-secondary{
    color: #208AAE;
    border-color: #208AAE;
    background-color: #F7F4F3;
    min-width: 10rem;
    border-radius: 50px;
}


.btn-group{
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
}

