<div class="grid">

  <div>
    <p> Test: {{ this.infoTest.denumire}}</p>

    <span> Time elapsed: {{utilService.displayTimeElapsed()}}</span>

  </div>


  <div id="quiz">
    <h2><span>{{this.indexIntrebare}}.</span> {{intrebareCurenta.titlu}}</h2>
    <hr style="margin-top: 20px">

    <div class="buttons">
      <div class="container ">
        <div class="row">
          <div class="col" *ngFor="let raspuns of getAnswers(intrebareCurenta)">
            <button type="button" class="btn btn-outline-dark">{{raspuns.enunt}}</button>
          </div>

          <div class="w-100"></div>
        </div>
      </div>
    </div>

    <hr style="margin-top: 2rem">
    <div class="nextWrapper">
      <button (click)="nextQuestion()" type="button" class="btn btn-success">Next</button>
    </div>

    <hr style="margin-top: 1rem">
    <div>
      <p id="progress">Question x of y.</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar"  [style.width.%]="((this.indexIntrebare ) * 100 ) / this.nrIntrebari" aria-valuenow="(this.indexIntrebare +1) * 10" aria-valuemin="0"
          aria-valuemax="100"> {{this.indexIntrebare}}/{{this.nrIntrebari}}</div>
      </div>
    </div>
  </div>
</div>