
h5{
  color:#208AAE;
  font-weight: bold;
}
.centerContent{

  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    margin-top: -5rem;
}
.dropbtn {
  background-color:#FFCAD4 ;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  color:white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-width: 14rem;
  min-height: 3rem;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #EDA4BD ;
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color:#208AAE;
  font-weight: bold;
}

.grid-container{
  margin-bottom: 1.5rem;
}
