<div id="container-header" class="container-global">
  <app-header></app-header>

  <div class="main-container">
      <nav class="nav flex-column">
          <a class="nav-link" [routerLink]="['/homePage', {outlets: {sidebar: ['testeProf']}}]">Testele mele</a>
          <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalog'] } }]">Catalog</a>
          <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['rapoarteProf'] } }]">Rapoarte studenti</a>
          <a class="nav-link"  [routerLink]="['/homePage', { outlets: {sidebar: ['creeazaTest'] } }]">Creeaza test</a>
          <div class="nav-link">
              <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Setari limba
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Romana</a>
                  <a class="dropdown-item" href="#">Engleza</a>
              </div>
          </div>
      </nav>

      <div class="actual-content">
          <router-outlet name="sidebar"></router-outlet>
      </div>

  </div>
  <app-footer></app-footer>
</div>