<app-header></app-header>

<div class="mainWrapper">
  <div class="welcomeMessage">
      <h3> Welcome to Final CODEdown!</h3>
  </div>
  

  <div class="buttonWrapper">
    <button type="button" class="btn " [routerLink]="['/homePage', {outlets: {sidebar: ['testeProf']}}]">Profesor</button>
    <button type="button" class="btn " [routerLink]="['/studentPage', {outlets: {sidebar: ['startTest']}}]">Student</button>

  </div>


  <div class="nav-link">
    <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Setari limba
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Romana</a>
      <a class="dropdown-item" href="#">Engleza</a>
    </div>
  </div>

</div>
<app-footer></app-footer>

