<div class="titleWrapper">
  Creeaza test nou
</div>

<form class="titleForm">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <input class="radiusMargin" formControlName="testName" value="Untitled quiz">
        </div>
      </div>
      <div class="col-sm">
        <button class="radiusMargin" (click)="assignName()">Done</button>
      </div>
    </div>
  </div>
</form>

<div class="questionWrapper">
    Questions:

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-outline-danger">Multiple choice</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-success">True/False</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-info">Short answer</button>
        </div>
      </div>
    </div>

</div>

