<div class="titleWrapper">
  Creeaza test nou
</div>

<form class="titleForm">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <input class="radiusMargin" formControlName="testName" value="Untitled quiz">
        </div>
      </div>
      <div class="col-sm">
        <button class="radiusMargin" (click)="assignName()">Done</button>
      </div>
    </div>
  </div>
</form>


<div *ngFor="let intrebare of questionsList">


  <div *ngIf="intrebare.tip == 'multiple'" class="questionContainer">
    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <i class="material-icons">create</i>
        </div>
        <div class="col">
          <form>
            <input class="questionInput" placeholder="Your question here..">
          </form>
        </div>

      </div>
    </div>

    <br>
    <br>
    Answer choice:
    <div class="container">


      <div class="row">
        <div class="col-md-auto">
          A.
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
        <div class="col-md-auto">
          <i class="material-icons">clear</i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          B.
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
        <div class="col-md-auto">
          <i class="material-icons">clear</i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          C.
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
        <div class="col-md-auto">
          <i class="material-icons">clear</i>
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto">
          <button type="button" class="btn btn-success">Save</button>
        </div>
        <div class="col">
          <button (click)="deleteQuestion(intrebare)" type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </div>

    </div>



  </div>

  <div *ngIf="intrebare.tip == 'TF'" class="questionContainer">

    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <i class="material-icons">create</i>
        </div>
        <div class="col">
          <form>
            <input class="questionInput" placeholder="Your question here..">
          </form>
        </div>

      </div>
    </div>

    <br>
    <br>
    Answer choice:
    <div class="container">


      <div class="row" style="padding-bottom: 1rem">
        <div class="col-md-auto">
          <button type="button" class="btn btn-light">True</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light">False</button>
        </div>

      </div>

      <div class="row">
        <div class="col-md-auto">
          <button type="button" class="btn btn-success">Save</button>
        </div>
        <div class="col">
          <button (click)="deleteQuestion(intrebare)" type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="intrebare.tip == 'short'" class="questionContainer">

    <div class="container">
      <div class="row" >
        <div class="col-md-auto">
          <i class="material-icons">create</i>
        </div>
        <div class="col">
          <form>
            <input class="questionInput" placeholder="Your question here..">
          </form>
        </div>

      </div>
    </div>

    <br>
    <br>
    Add correct answer:

    <form style="padding-bottom: 1rem"> 
      <input class="questionInput" placeholder="Correct answer">
    </form>

    <div class="row">
      <div class="col-md-auto">
        <button type="button" class="btn btn-success">Save</button>
      </div>
      <div class="col">
        <button (click)="deleteQuestion(intrebare)" type="button" class="btn btn-outline-danger">Delete</button>
      </div>
    </div>

  </div>
</div>

<div class="questionWrapper">
  Questions:

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button (click)="createQuestion('multiple')" type="button" class="btn btn-outline-danger">Multiple choice
        </button>

      </div>
      <div class="col-sm">
        <button (click)="createQuestion('TF')" type="button" class="btn btn-outline-success">True/False</button>
      </div>
      <div class="col-sm">
        <button (click)="createQuestion('short')" type="button" class="btn btn-outline-info">Short answer</button>
      </div>
    </div>
  </div>

</div>