
  <div *ngIf="question.tip == 'multiple'" class="questionContainer">
  <form [formGroup]="questionForm">
    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <i class="material-icons">create</i>
        </div>
        <div class="col">
           <div class="form-group">
            <input class="questionInput" formControlName="questionTitle" placeholder="Your question here..">
         </div>
        </div>

      </div>

    <br>
    <br>
    Answer choice:
    <div class="container">


      <div class="row">
        <div class="col-md-auto">
          A.
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" formControlName="answerField" value="a" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" formControlName="answerTextA"  class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          B.
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" formControlName="answerField"  value="b" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" formControlName="answerTextB"  class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          C.
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" formControlName="answerField"  value="c" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text"  formControlName="answerTextC" class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
      </div>
      
       <div class="row">
        <div class="col-md-auto">
          D.
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" formControlName="answerField"  value="d" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text"  formControlName="answerTextD" class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto">
          <button type="submit"  (click)="saveQuestion()" class="btn btn-success">Save</button>
        </div>
        <div class="col">
          <button (click)="removeQuestion()" type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </div>

    </div>


  </div>
  
  </form>
  </div>

  <div *ngIf="question.tip == 'TF'" class="questionContainer">
  <form [formGroup]="trueFalseForm">
    <div class="container"  >
      <div class="row">
        <div class="col-md-auto">
          <i class="material-icons">create</i>
        </div>
        <div class="col">
           <div class="form-group">
            <input class="questionInput" formControlName="questionTitle" placeholder="Your question here..">
         </div>
        </div>

      </div>
    </div>

    <br>
    <br>
    Answer choice:
    <div class="container">


       <div class="row">
        <div class="col-md-auto">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" formControlName="answerField"  value="true" aria-label="Checkbox for following text input">
              </div>
            </div>
            <button type="button" class="btn btn-secondary btn-lg" disabled>True</button>

          </div>
        </div>
     
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" formControlName="answerField"  value="false" aria-label="Checkbox for following text input">
              </div>
            </div>
            <button type="button" class="btn btn-secondary btn-lg" disabled>False</button>
          </div>
        </div>
      </div>

      <!--<div class="row" style="padding-bottom: 1rem">-->
      <!--  <div class="col-md-auto">-->
      <!--      <label class="class="btn btn-light" ">-->
      <!--        <input type="radio"  formControlName="answerTrueFalse" value"true" name="options" autocomplete="off" >  True-->
      <!--      </label>-->
      <!--  </div>-->
      <!--  <div class="col">-->
      <!--    <label class="class="btn btn-light" ">-->
      <!--        <input type="radio"  formControlName="answerTrueFalse" value"false" name="options" autocomplete="off" >  False-->
      <!--      </label>-->
      <!--  </div>-->

      <!--</div>-->

      <div class="row">
        <div class="col-md-auto">
          <button type="submit"  (click)="saveTrueFalse()" class="btn btn-success">Save</button>
        </div>
        <div class="col">
          <button (click)="removeQuestion()"type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </div>

    </div>
    </form>
  </div>

  <!--<div *ngIf="question.tip == 'short'" class="questionContainer">-->

  <!--  <div class="container">-->
  <!--    <div class="row" >-->
  <!--      <div class="col-md-auto">-->
  <!--        <i class="material-icons">create</i>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <form>-->
  <!--          <input class="questionInput" placeholder="Your question here..">-->
  <!--        </form>-->
  <!--      </div>-->

  <!--    </div>-->
  <!--  </div>-->

  <!--  <br>-->
  <!--  <br>-->
  <!--  Add correct answer:-->

  <!--  <form style="padding-bottom: 1rem"> -->
  <!--    <input class="questionInput" placeholder="Correct answer">-->
  <!--  </form>-->

  <!--  <div class="row">-->
  <!--    <div class="col-md-auto">-->
  <!--      <button type="button" class="btn btn-success">Save</button>-->
  <!--    </div>-->
  <!--    <div class="col">-->
  <!--      <button (click)="removeQuestion()" type="button" class="btn btn-outline-danger">Delete</button>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--</div>-->
