.body {
	background-color: white;
	color:LightPink;
	display:grid;
	width:100vw;
	height:100vh;
	margin:0px;
	padding-left:10px;
}

.dropbtn {
  background-color:LightPink ;
  color: white;
  padding-left:16px;
  padding-bottom: 16px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  color:white;
  bottom: 15px; top:60px; left: 70%; height: 50px; width:240px;
}
.dropdown {
  position: relative;
  display: block;
  height: 60px; width:180px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 40px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: LightCoral ;
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: LightCoral ;
	color:#208AAE;
}

.coloane{
  display: inline-block;
}
img{
  width: 500px;
  height: 500px;
  padding-left: 500px;
}
