<title> Testele mele </title>
<div class="titleWrapper">
  Materii
</div>

<div class="coloane">
  <div class="Container-1 grid-container dropdown">
    <button type="button" class="dropbtn" type="button"
    [routerLink]="['/homePage', { outlets: {sidebar: ['listaTeste'] } }]">Java</button>
  </div>
   
  <div class="Container-2 grid-container dropdown">
  <button class="dropbtn" type="button"  [routerLink]="['/homePage', { outlets: {sidebar: ['listaTeste'] } } ]">SDD</button>
  </div>
   
   <div class="Container-2 grid-container dropdown">
    <button class="dropbtn" type="button"
    [routerLink]="['/homePage', { outlets: {sidebar: ['listaTeste'] } }] ">POO</button>
  </div>
   
  <div class="Container-2 grid-container dropdown">
  <button class="dropbtn" type="button"
  [routerLink]="['/homePage', { outlets: {sidebar: ['listaTeste'] }}] ">DAM</button>
  </div>
</div>

<div class="coloane">
<img src="/src/assets/carti.PNG" >
</div>
