.titleWrapper{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 3rem; 
}

input.basicInput {
    width: 60%;
}

.titleForm{
  
}
.basicInput{
    
    /*border-radius: 10px;*/
    padding: .3rem .6rem;
     color: #208AAE;
    background-color: transparent;
}

button.basicInput:hover{
    color: #FFCAD4;
    cursor: pointer;
    border-color: #FFCAD4;
}

div.questionWrapper{
    padding-top: 5rem;
}
div.containerWrapper{
    text-align: center;
    padding-top: 2rem;
}

button.btn{
    min-width: 8rem;
}

.questionContainer{
    margin-top: 5rem;
    padding: 0.5rem;
    box-shadow: 4px 6px 6px 6px #c2c2c2;
}

.questionInput{
    width: 100%;
    border: solid 0.5px black;
}


button.btn.btn-light:hover{
    background-color: #007bff;
    color: white;
}

div.col-sm{
    text-align: center;
    margin-top: 2rem;
}

