<div class="titleWrapper">
  {{titleComponent}}
</div>

 <div class="containerWrapper">
    <form class="titleForm" (ngSubmit)="assignName()" [formGroup]="titleForm">
            <div class="form-group">
              <input class="basicInput" formControlName="testName" placeholder="Titlul testului">
            </div>
            
             <div class="form-group">
              <input class="basicInput" type="number"  formControlName="time" placeholder="Timpul alocat testului">
               <small id="emailHelp" class="form-text text-muted">Va rugam agaugati timpul alocat testului in minute.</small>
            </div>
            
            <div class="form-group">
              <input class="basicInput" formControlName="codTest" placeholder="Codul de acces ">
            </div>

             <div class="form-group">
              <input class="basicInput" formControlName="materie" placeholder="Materia ">
            </div>
            <button class="basicInput" [disabled]="!titleForm.valid">Done</button>
    </form>
  </div>

<div *ngFor="let question of questionsList">
  <app-question-card [question]="question" (myQuestion)="removeQuestion($event)"></app-question-card>
</div>

<div class="questionWrapper">
  Questions:

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button (click)="createQuestion('multiple')" type="button" class="btn btn-outline-danger">Multiple choice
        </button>

      </div>
      <div class="col-sm">
        <button (click)="createQuestion('TF')" type="button" class="btn btn-outline-success">True/False</button>
      </div>
      <!--<div class="col-sm">-->
      <!--  <button (click)="createQuestion('short')" type="button" class="btn btn-outline-info">Short answer</button>-->
      <!--</div>-->
    </div>
  </div>

</div>