/* You can add global styles to this file, and also import other style files */
html, 
body{
    height: 100%;
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.titleWrapper{
    font-size: 1.2rem;
    font-weight: bold;
    color:#208AAE;
 
   /*padding-bottom: 3rem; */
}

app-footer{
    background: #F7F4F3;
   border-top: solid .1px #6E8898;
   font-size: .8rem;
}

.actual-content app-start-test
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.actual-content app-code-page
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.actual-content app-finish-quiz
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

