<div id="container-header" class="container-global">
  <app-header></app-header>

  <div class="main-container">
      <nav class="nav flex-column">
          <a class="nav-link" [routerLink]="['/studentPage', {outlets: {sidebar: ['startTest']}}]">Intra in test</a>
          <a class="nav-link" [routerLink]="['/studentPage', {outlets: {sidebar: ['rapoarteleMele']}}]">Rapoartele mele</a>
          <!--<a class="nav-link" [routerLink]="['/studentPage', {outlets: {sidebar: ['feedback']}}]">Feedback</a>-->
          <!-- <div class="nav-link">
              <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Setari limba
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Romana</a>
                  <a class="dropdown-item" href="#">Engleza</a>
              </div>
          </div> -->
      </nav> 

      <div class="actual-content">
          <router-outlet name="sidebar"></router-outlet>
      </div>

  </div>
  <app-footer></app-footer>
</div>