
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NUME</th>
        <th>Grupa</th>
        <th class="note" > Punctaj</th>
  
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stud of listaUsers; let i=index">
        <th>{{i+1}}</th>
        <td>{{stud?.nume}}</td>
        <td>{{stud?.grupa}}</td>
        <td [ngClass]="{'verde': culoareNota(getRaport(stud.id)?.punctaj), 'rosu': !culoareNota(getRaport(stud.id)?.punctajj)} " class="note" >
          {{getRaport(stud.id)?.punctaj}}
          </td>
    
      </tr>
    <tbody>
  </table>  