<form (ngSubmit)="onSubmit()" [formGroup]="loginForm"  class="loginWrapper">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@stud.ase.ro">
        <small id="emailHelp" class="form-text text-muted">Adresa de e-mail institutionala.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input class="form-control" type="password" formControlName="password" id="exampleInputPassword1" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>

  </form>
