.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
    .header {
        padding: 1rem 3rem 1rem 3rem;
        display: flex;
        justify-content: space-between;
        background-color: #165787;
        position: relative;}
        .logoWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #logoImg {
            padding: 0 3rem 0 3rem;
            width: 10rem;
            height: 4rem;
        }
        .buttons {
            display: flex;
            align-items: center;
            }
        #headerLogoutButton {
                outline: 0;
                cursor: pointer;
                background-color: transparent;
                color: white;
                border:0;
            }
            #headerLogoutButton:hover{
                background-color:#1a6397 ;
                border-radius: 1rem;
            }
    
    .secondHeader {
        padding: 1rem 2rem 1rem 2rem;
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
        
        .headerTextWrapper {
            color: black;
            flex-direction: column;
            display: flex;
        }
            .greeting {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
                span {
                    color: blue;
                    margin: 0;
                }
            
            p {
                color: gray;
                font-size: 1rem;
            }
        
    .sidenav {
        flex-grow: 1;
    }