<div id="container-header" class="container-global">
    <div id="headerComponent" class="header">
        <div id="logoWrapper" class="logoWrapper">
            <a id="logoLink" class="logo" href="/index.html">
                <img id="logoImg" src="../assets/logo.png" alt="logo" />
            </a>
        </div>
        <div id="headerButtonsWrapper" class="dropdown buttons">
            <div id="headerLogoutButton  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../assets/user.png"
                alt="logo" >MP</div>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Profil</a>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>

    </div>

    <div class="main-container">
        <nav class="nav flex-column">
            <a class="nav-link" href="#testeProf">Testele mele</a>
            <a class="nav-link" href="#catalog">Catalog</a>
            <a class="nav-link" href="#rapoarteProf">Rapoarte studenti</a>
            <a class="nav-link" href="#creeazaTest">Creeaza test</a>
            <div class="nav-link">
                <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Setari limba
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Romana</a>
                    <a class="dropdown-item" href="#">Engleza</a>
                </div>
            </div>
        </nav>

        <div class="actual-content">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>