
/*
colors: #33658A; -albastru inchis
        #EF767A   - roz
        #FCF7FF   -deschis
*/

div#container-header.container{
    margin:0 !important;
    padding:0 !important;
}   
.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
    .header {
        padding: 1rem 3rem 1rem 3rem;
        display: flex;
        justify-content: space-between;
        background-color: #33658A;
        position: relative;}
        .logoWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #logoImg {
            padding: 0 3rem 0 3rem;
            width: 10rem;
            height: 4rem;
        }
        .buttons {
            display: flex;
            align-items: center;
            }
        #headerLogoutButton {
                outline: 0;
                cursor: pointer;
                background-color: transparent;
                color: white;
                border:0;
                width: 4rem;
                height: 4rem;
            }
            #headerLogoutButton:hover{
                background-color:#33658A ;
                border-radius: 1rem;
            }


    
        
    .sidenav {
        flex-grow: 1;
    }