<div id="container-header" class="container">
  <div id="headerComponent" class="header">
      <div id="logoWrapper" class="logoWrapper">
          <a id="logoLink" class="logo" href="/index.html">
              <img id="logoImg" src="../assets/logo.png" alt="logo" />
          </a>
      </div>
      <div id="headerButtonsWrapper" class="buttons">
          <!-- <button id="headerLogoutButton">Logout</button> -->
          <img id="headerLogoutButton" src="../assets/user.png" alt="logo" />
      </div>
  </div>

<router-outlet></router-outlet>
