<div id="headerComponent" class="header">
  <div id="logoWrapper" class="logoWrapper">
      <a id="logoLink" class="logo" >
          <img id="logoImg" src="../assets/logo.png" alt="logo" />
      </a>
  </div>
  <div id="headerButtonsWrapper" class="dropdown buttons"  *ngIf="loginHelper.isLogin">
      <div id="headerLogoutButton  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../assets/user.png"
          alt="logo" >MP</div>
      <div class="dropdown-menu">
        <div class="container">
            <div class="row">
              <div class="col-sm-auto">
                Nume:
              </div>
              <div class="col-sm">
                {{user?.nume}}
              </div>
             
            </div>
            <div class="row">
                <div class="col-sm-auto">
                  Prenume:
                </div>
                <div class="col-sm">
                  {{user?.username}}
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-auto">
                  ID:
                </div>
                <div class="col-sm">
                  {{user?.id}}
                </div>
               
              </div>

          </div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
  </div>

</div>