<h1>Materii</h1>
<div class="Container-1 grid-container dropdown">
<button class="dropbtn">Java</button>
  <div class="dropdown-content">
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 1</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 2</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 3</a>
  </div>
 </div>
 
<div class="Container-2 grid-container dropdown">
<button class="dropbtn">SDD</button>
  <div class="dropdown-content">
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 1</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 2</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 3</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 4</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 5</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 6</a>

  </div>
 </div>
 
 <div class="Container-2 grid-container dropdown">
<button class="dropbtn">POO</button>
  <div class="dropdown-content">
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 1</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 2</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 3</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 4</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 5</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 6</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 7</a>
  </div>
 </div>
 
 <div class="Container-2 grid-container dropdown">
<button class="dropbtn">DAM</button>
  <div class="dropdown-content">
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 1</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 2</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 3</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 4</a>
      <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa 5</a>
  </div>
 </div>
