<div class="container">
    <div class="row">
      <div class="col-sm">
        2018
        Final CODEdown
      </div>
      <div class="col-sm">
        <a  data-toggle="modal" data-target="#termsModal">Termeni</a>
      </div>
      <div class="col-sm">
        <a data-toggle="modal" data-target="#helpModal" >Ajutor</a>
      </div>
      <div class="col-sm">
        <a data-toggle="modal" data-target="#aboutModal" >Despre</a>
      </div>
      <div class="col-sm">
        <a data-toggle="modal" data-target="#contactModal" >Contact</a>
      </div>
      <div class="col-sm">
        <a data-toggle="modal" data-target="#feedbackModal" >Feedback</a>
      </div>
    </div>
  </div>
  
  
  <!-- Modal TERMENI -->
  <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Termeni</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Termeni si conditii</p>
          <p>ACEŞTI TERMENI ȘI CONDIȚII  SUNT UN CONTRACT JURAT ÎNTRE DVS. ("TU" SAU "VOI") ȘI ECHIPA FinalCODEdown. ACEŞTI TERMENI EXPLICĂ CUM SUNTEȚI PERMIS A UTILIZA SITE-UL  FinalCODEdown ȘI ORICE SOFTWARE PE CARE FinalCODEdown ÎŢI VA PERMITE SĂ ACCESEZI SERVICIILE DE PE UN DISPOZITIV MOBIL (O "APLICAȚIE MOBILĂ"). PRIN UTILIZAREA ACESTUI SITE ȘI A SERVICIILOR, SUNTEȚI DE ACORD CU TOȚI TERMENI; DACĂ NU SUNTEȚI DE ACORD CU ORICARE DIN ACEŞTI TERMENI, NU ACCESAȚI SAU UTILIZAȚI ACEST SITE, ORICE SERVICII DISPONIBILE PRIN ACEST SITE, SAU INFORMAȚII CONȚINUTE PE ACEST SITE.
  
  ÎN CAZUL ACESTOR TERMENI, UTILIZAREA SERVICIILOR, CARACTERISTICILOR ȘI CONȚINUTULUI DISPONIBIL PENTRU SAU PRIN INTERMEDIUL SITE-ULUI FAC OBIECTUL CONDIȚIILOR SUPLIMENTARE SAU ALŢI TERMENI ȘI CONDIȚII; În acest caz, veți fi notificat și veți avea oportunitatea de a examina astfel de termeni suplimentari.
  </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal HELP -->
  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajutor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Pagina de start presupune alegerea uneia dintre opțiunile de utilizare a aplicației, opțiunea de profesor sau cea de student. În funcție de opțiunea aleasă, meniul din dreapta paginii este unul diferențiat, astfel că profesorul poate alege să vizualizeze catalogul cu notele studenților (opținute la testele suținute anterior),să creeze un test nou,sa aibă acces la rapoarte cu privire la eficiența evaluărilor sale și nu in ultimul rând, să previzualizeze o listă cu toate testele care au fost deja implementate și să lanseze unul pentru a fi susținut de catre studenți în timpul seminarului.</p>
  <p>Dacă modul de utilizare a fost selectat ca fiind “Profesor”, următoarea opțiune pe care acesta trebuie să o selecteze este materia la care dorește să facă evaluarea (ex.  POO, Java, Stucturi de Date). Prin apăsarea pe oricare dintre opțiunile afisate, se va deschide o pagină cu toate testele de la materia respectivă, care au fost deja implementate și de asemenea profesorul poate efectua modificări asupra acestora. Pagina este afisată sub forma unui tabel care furnizează informații cu privire la numărul curent al fiecarui test, denumire și nu în ultimul rând de stergere a acestuia . Tot pe aceasta pagină, prin apăsarea butonului “Start”, testul va fi lansat de catre profesor iar studenții pot avea acces la acesta doar după ce numărul participanților din sala de examen coincide cu cel al utilizatorilor care folosesc platforma de testare.
  </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal ABOUT -->
  <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Despre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>FinalCODEdown este o aplicație viabilă creată pentru a fi utilizată în cadrul orelor de curs şi seminar, 
      în scopul evaluării eficiente şi obiective a studenţilor de către profesori. 
      Rezultatele determina cea mai bună abordare instructivă pentru a învăța în mod eficient. 
      Aplicaţia poate fi utilizată pentru a promova un mediu mai interactiv în clasă. 
      Elevii pot împărtăși cunoştinţele accumulate răspunzând întrebărilor formale de evaluare
      într-o varietate de formate: întrebări grilă cu raspuns simplu sau multiplu şi întrebări cu răspuns deschis. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal CONTACT -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Telefon: 0762607258</p>
          <p>Mail: echipa.castigatoare@code.com</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal FEEDBACK -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Dacă trimiteți sau transmiteți către FinalCODEdown orice comunicări, comentarii, întrebări, sugestii sau materiale conexe, fie prin scrisoare, e-mail, telefon sau altfel (colectiv "Feedback"), sugerând sau recomandând modificări la Site sau Servicii, fără a se limita la noi caracteristici sau funcționalități legate de acestea, toate acestea sunt, și vor fi tratate că neconfidențiale și neprofitabile. 
      Prin această vă alocați toate drepturile, titlurile și interesul, iar FinalCODEdown este liber să utilizeze, fără nicio atribuire sau compensare pentru dvs., nicio idee, know-how, concepte, tehnici sau alte drepturi de proprietate intelectuală și drepturi de proprietate conținute în Feedback, indiferent dacă este sau nu brevetabil, în orice scop, inclusiv, dar fără a se limita la, dezvoltarea, fabricarea, fabricarea, licențierea, comercializarea și vânzarea, direct sau indirect,
      a produselor și serviciilor care utilizează astfel de Feedback. Înțelegeți și sunteți de acord că FinalCODEdown nu este obligat să utilizeze, să afișeze, să reproducă sau să distribuie astfel de idei, cunoștințe, concepte sau tehnici conținute în Feedback și nu aveți dreptul să obligați utilizarea, afișarea, reproducerea sau distribuție. Termenii prezentului paragraf nu se vor aplică înscrierilor dvs. care sunt guvernate de termenii expuși mai sus la "Subscrieri".</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>