<div class="titleWrapper">
    Materii
</div>
<div class="centerContent">

    <div *ngFor="let materie of uniqueObjects">
        <div class="Container-1 grid-container dropdown"  style="margin-bottom: 1rem;">

            <button class="dropbtn"> {{ materie }}</button>
            <div *ngFor="let user of listaUseri">
                    <div class="dropdown-content" >
                            <a class="nav-link" [routerLink]="['/homePage', { outlets: {sidebar: ['catalogStudenti'] } }]">Grupa: {{user.grupa}}</a>
                        </div>
            </div>
        </div>
    </div>


</div>