<div class="titleWrapper">
  Testele mele
</div>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">NR. CRT</th>
      <th scope="col">NUME TEST</th>
      <th scope="col">START</th>
      <!--<th scope="col">Descarca</th>-->
      <th scope="col">Sterge</th>
    </tr>
  </thead>
  <tbody *ngFor="let test of listaTeste; let i=index">
    <tr>
      <th scope="row">{{ i + 1}}</th>
      <td>{{ test.numeTest}}</td>
      <!--<td> {{ test.data }} </td> -->
      <td><i  (click)="startTest(test)" class="material-icons">play_arrow</i></td>
      <!--<td> <i  (click)="downloadTest(test)" class="material-icons">save_alt</i></td>-->
      <td> <i  (click)="deleteTest(test)" class="material-icons">delete</i></td>
    </tr>
  </tbody>
</table>