<div class="titleWrapper">
    Testele mele
  </div>


<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>NUME</th>
      <th class="note" *ngFor="let data of listaRapoarte"> {{displayWithoutYear(data.dataRaport)}}</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stud of listaUsers; let i=index">
      <th>{{i+1}}</th>
      <td>{{stud.nume}}</td>
      <td [ngClass]="{'verde': culoareNota(nota.punctaj), 'rosu': !culoareNota(nota.punctaj)} " class="note" *ngFor="let nota of listaRapoarte">
        {{nota.punctaj}}
        </td>
  
    </tr>
  <tbody>
</table>